<html>
    <head>
        <title>golab</title>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script>
            keyword = {{ search_item }}
            $(document).ready(function(){
                $("#head").load('/gogate/head/')
                $("#foot").load('/gogate/foot/')
                $("button#more").click(function(){
                    // keyword = $("span#keyword").val()
                    $.ajax({
                        url:'/gogate/',
                        type:"GET",
                        data:{'keywords':keyword,'page_num':"2"}
                    }).done(function(data){
                        alert(keyword)
                    })
                })
            })
        </script>
    </head>
    <body>
        <div id="head"></div>
        <p>输入皮肤名称进行查询</p>
        <form action = "/gogate/" method="get">
            <input type = "text" name = "keywords">
            <input type="submit" value="GO">
        </form>
        <h2>{{index}}:<span id="keyword">{{ search_item }}</span></h2>
        {% if search_result != None %}
            {% for item in search_result %}
                <div>
                    <span><a href={{ item.href }}>{{ item.name }}</a></span>
                    <ul>
                        <li>buff最低价：{{ item.buff_min_price }}</li>
                        <li>igxe最低价：{{ item.ig_min_price }}</li>
                        <li>buff在售：{{ item.buff_sell_num }}</li>
                        <li>igxe在售：{{ item.ig_sell_num }}</li>
                    </ul>
                </div>
            {% endfor %}
            {% if total != 1 %}
                <button id="more">click to load more items</button>
                <div id="more"></div>
            {% endif %}
        {% else %}
            <h3>no search result</h3>
        {% endif %}
        <div id="foot"></div>
    </body>
</html>