<html>
    <head>
        <title>golab|设置套餐</title>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#head").load('/gogate/head/')
                $("#foot").load('/gogate/foot/')
            })
        </script>
    </head>
    <body>
        <h1>设置套餐</h1>
        <h3>current:</h3>
        {% if number_of_items == 0 %}
        <p>你还没有套餐</p>
        {% else %}
        <table>
            <tr>
                <!-- <td>notification method</td> -->
                <td>maximum number of items</td>
                <td>check frequency</td>
                <td>start date</td>
                <td>lasting for</td>
            </tr>
            <tr>
                <!-- <td>{% if send_to_email is True %}email{% else %}text message{% endif %}</td> -->
                <td>{{ number_of_items }}</td>
                <td>{{ check_freq }}</td>
                <td>{{ start_day }}</td>
                <td>{{ time_span }} days</td>
            </tr>
        </table>
        {% endif %}
        <p>-------------------------New-------------------------</p>
        <form action="/gogate/payment/" method="POST">
            {% csrf_token %}
            <!-- <input type="radio" name="send_to_email" value="email">
            <span>email</span>
            <br/>
            <input type="radio" name="send_to_email" value="phone">
            <span>phone</span>
            <br/> -->
            <span>number of items:</span>
            <label><input type="radio" name="number_of_items" value="1">1</label>
            <label><input type="radio" name="number_of_items" value="3">3</label>
            <label><input type="radio" name="number_of_items" value="5">5</label>
            <br/>
            <span>check frequency:</span>
            <label><input type="radio" name="check_freq" value="2">2 min</label>
            <label><input type="radio" name="check_freq" value="5">5 min</label>
            <label><input type="radio" name="check_freq" value="9">9 min</label>
            <br/>
            <span>lasting for:</span>
            <label><input type="radio" name="time_span" value="2">2 days</label>
            <label><input type="radio" name="time_span" value="5">5 days</label>
            <label><input type="radio" name="time_span" value="9">9 days</label>
            <br/>
            <input type="submit" value="proceed to payment page">
        </form>
    </body>
</html>