<html>
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#faq").click(function(){
                    alert("no faqs currently")
                })
                $("#contact").click(function(){
                    alert("send email to: emzdn@163.com")
                })
            })
        </script>
    </head>
    <body>
        <a href="" id="faq">常见问题</a>|<a href="" id="contact">联系我们</a>
    </body>
</html>