<html>
    <head>
        <title>golab|retreive password</title>
    </head>
    <body>
        <form action="/gogate/forget-pass/" method="POST">
            <!-- <td>
                <tr>retreive with email:</tr>
            </td>
            <td>
                <tr><input type="email" name="email"></tr>
            </td> -->
            <td>
                <tr>retreive with phone number</tr>
            </td>
            <td>
                <tr><input type="text" name="phone"></tr>
            </td>
        </form>
    </body>
</html>