<html>
    <head>
        <title>GOLab</title>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $.ajax({
                    url:'/gogate/user-state/',
                    type:'GET'
                }).done(function(data){
                    if(data['state'] == 0){
                        $("#out").show()
                    }
                    else{
                        $("#in").show()
                    }
                })
                $("#signout").click(function(){
                    $.ajax({
                        url:'/gogate/sign-out/',
                        type:"GET",
                    }).done(function(data){
                        parent.location.reload()
                        // window.location.reload()
                    })
                })
                $("#faq").click(function(){
                    alert("no faqs currently")
                })
                $("#contact").click(function(){
                    alert("send email to: emzdn@163.com")
                })
            })
        </script>
    </head>
    <body>
        <h1>GOLab</h1>
        <h2>一键查询igxe/buff的csgo皮肤信息，获取玄学信息，以及获得最新提醒(目前只支持武器和手套)</h2>
        <div id="out" hidden>
            <a href="/gogate/sign-in/">sign in</a>
            <br/>
            <a href="/gogate/sign-up/">sign up</a>
        </div>
        <div id="in" hidden>
            <a href="/gogate/user/">user center</a>
            <br/>
            <a href id="signout">sign out</a>
        </div>
        <br/>
        <p>输入皮肤名称进行查询</p>
        <form action = "/gogate/" method="get">
            <input type = "text" name = "keywords">
            <input type="submit" value="GO">
        </form>
        <a href="" id="faq">常见问题</a>|<a href="" id="contact">联系我们</a>
    </body>
</html>