<html>
    <head>
        <title>Golab|sign in</title>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    pes = $("#p").val()
                    $.ajax({
                        url:'/gogate/js_test/',
                        type:'POST',
                        data:{'username':pes,'csrfmiddlewaretoken':$("[name='csrfmiddlewaretoken']").val()},
                        // success:function(data){
                        //     alert(data["res"])
                        // }
                    }).done(function(data){
                        alert(data['res'])
                    }).fail(function(){
                        alert("fail")
                    })
                })
            })
        </script>
    </head>
    <body>
        <h1>Golab|sign in</h1>
        <form action="/gogate/sign-in/" method="POST">
            {% csrf_token %}
            <p>username:</p>
            <input type="text" name = "username">
            <p>password:</p>
            <input type="password" name = "password">
            <p>verification code:</p>
            <input type="text" name = "vercode">
            {% load static %}
            <img src="{% static img %}" alt="verification" height=30 width=100 />
            <input type="submit" value="sign in">
        </form>
        {% csrf_token %}
        <input type="text" id="p">
        <button>click</button>
        <a href="/gogate/sign-up/">sign up</a>
        <a href="/gogate/forget-pass/">forget password</a>
    </body>
</html>